* {
    margin: 0;
    padding: 0;
}

/* PARTIALS */

@import "_responsive.scss", "_texts.scss", "_buttons-interactive.scss";

/* CONTAINER-FLUID DE BOOTSTRAP */

.container-fluid {
    font-family: 'montserrat';
    color: #000000;
    overflow: auto;
}

/* ++++ CONTENIDO ++++ */
/* NAVEGADOR */

header {
    .nav {
        background: rgb(255, 138, 4);
        background: linear-gradient(90deg, rgba(255, 138, 4, 1) 0%, rgba(255, 230, 59, 1) 100%);
        padding: 10px 30px;
        display: flex;
        align-items: center;

        .navigation__link--logo {
            width: 150px;
            padding: 0 30px;
        }

        .navigation__link--logo:hover {
            transform: scale(1.2);
        }

        .navigation__link {
            margin: 15px;
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            text-decoration-line: none;
        }

        .navigation__link:hover {
            color: white;
            background: rgb(0, 33, 179);
            ;
        }
    }
}

/* BANNER - IMÁGENES */
.banner {
    padding: 15px;
    display: flex;
    justify-content: center;

    .banner__image {
        padding: 15px;
        width: 700px;
    }
}

/* PIÉ DE PÁGINA */

#footer {
    background-color: rgb(122, 122, 122);
    color: white;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    .footer__info {
        padding-top: 20px;
        text-align: center;

        .footer__headline {
            font-weight: 700;
            font-size: 22px;
            margin: 15px;
        }

        .footer__link,
        .footer__paragraph {
            text-decoration-line: none;
            font-weight: 400;
            font-size: 18px;
            color: white;
            margin: 15px;
            line-height: 35px;
        }

        .footer__link:hover {
            color: white;
            background: rgb(59, 59, 59);
            ;
        }
    }
}

